.contact_wrapper {
  .email-button {
    background-color: #2e2d2d55 !important;
    color: #fff !important;

    @media (min-width: 769px) {
      &:hover {
        background-color: #5000ca !important;
        color: #fff !important;
      }
    }
  }
}

.contact_wrapper {
  text-align: center;
  padding: 2rem;

  .email-button {
    margin-top: 2rem;
  }
}
