.vertical-timeline-element-content {
  background-color: #131516 !important;
  color: rgb(232, 230, 227) !important;

  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  span,
  li {
    color: inherit !important;
  }
}

.vertical-timeline-element-content-arrow {
  border-right-color: #303436 !important; // set the arrow to black
}

.vertical-timeline::before {
  background-color: #181a1b !important; // set the timeline line to black;
}

.tech-chip {
  background-color: #000 !important;
  color: #fff !important;

  span {
    color: #fff !important;
  }
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 8px;

  .tech-chip {
    font-size: 0.8rem !important;
    height: 25px !important;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease !important;
    cursor: pointer;

    span {
      font-family: "Courier Prime", monospace;
      color: rgb(39, 40, 34);
    }

    @media (min-width: 768px) {
      &:hover {
        transform: translateY(-2px);
      }
    }

    svg {
      height: 15px !important;
    }
  }
}

.vertical-timeline-element-icon {
  color: #d1cdc7 !important;
  transition: transform 0.5s ease;
  background-color: #131516 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

  img {
    width: 80% !important;
    height: 80% !important;
    object-fit: contain !important;
  }
}

/* Items container styling */
.items-container {
  padding: 2rem;
  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
}

/* Smooth transition for the details box */
.details-box {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.details-box.active {
  max-height: 1000px;
  opacity: 1;
  margin-top: 1rem;
}

/* Show details-box on hover for desktop version */
.hoverable:hover .details-box {
  display: block;
}

.vertical-timeline-element--work {
  ul {
    font-size: 1rem;
    li {
      line-height: 1.4;
    }
  }
}

@media (max-width: 768px) {
  .details-box {

    ul {
      font-size: 0.9rem;
      padding-left: 20px;
      margin-bottom: 16px;
      
      li {
        margin-bottom: 4px;
        line-height: 1.4;
      }
    }
  }
  
}

/* Timeline element styles and hover effects */
.vertical-timeline-element--work {
  position: relative; /* Create stacking context */
  z-index: 1; /* Ensure the element is above others */

  .vertical-timeline-element-content {
    background: white;
    color: rgb(39, 40, 34);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
  }

  .vertical-timeline-element-content-arrow {
    border-right: 7px solid white;
  }

  &:hover .vertical-timeline-element-content,
  &:hover .vertical-timeline-element-icon {
    transform: scale(1.05);
  }
}

/* Container for items that are clickable on mobile */
.mobile-clickable {
  cursor: pointer;
  position: relative;
}

/* Arrow icon styling: forcing black color */
.click-arrow {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 1rem;
  color: rgb(232, 230, 227) !important;
  background-color: transparent;
}

.click-arrow svg {
  fill: black !important;
}

/* General timeline typography */
.vertical-timeline span {
  color: white;
  font-family: "Courier Prime", monospace;
}

.vertical-timeline p,
.vertical-timeline-element p {
  color: rgb(39, 40, 34);
}

/* Title, company, and city styling with reduced spacing */
.vertical-timeline-element-title,
.vertical-timeline-element-company,
.vertical-timeline-element-city {
  color: rgb(39, 40, 34);
}

.vertical-timeline-element-title {
  margin-bottom: 0.15rem;
}

.vertical-timeline-element-company {
  margin-top: 0.1rem; // reduce top margin
  margin-bottom: 0.15rem; // adjust bottom margin as needed
  font-weight: 300; // less bold than default
}

.vertical-timeline-element-city {
  font-weight: normal;
  margin-top: 0; // no extra space above
  margin-bottom: 0.25rem;
}

@media (max-width: 768px) {
  .click-arrow {
    bottom: -40px; // move arrow further down on mobile
  }

  .vertical-timeline-element-title {
    font-size: 1.2rem;
  }

  .vertical-timeline-element-company {
    font-size: 1.07rem;
  }

  .vertical-timeline-element-date {
    display: block !important;
    font-size: 0.9rem;
    color: rgb(39, 40, 34) !important;
  }

  .vertical-timeline-element--work:hover .vertical-timeline-element-content,
  .vertical-timeline-element--work:hover .vertical-timeline-element-icon {
    transform: none; // disable zoom on hover
  }

  .vertical-timeline-element--work {
    .vertical-timeline-element-content {
      transition: transform 0.3s ease-out;
      will-change: transform;
    }
  }
}

